<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MenuStyle</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lailaazmi.menustyle.ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>Lailaazmi.MenuStyle</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>set</key>
			<string>setterForCfprefsd:specifier:</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lailaazmi.menustyle.ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>Lailaazmi.MenuStyle</string>
			<key>key</key>
			<string>UseImage</string>
			<key>label</key>
			<string>UseImage</string>
			<key>set</key>
			<string>setterForCfprefsd:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Plugins</string>
		</dict>
	</array>
	<key>title</key>
	<string>MENU Style</string>
</dict>
</plist>
